<div class="header-top">
  <a href="/" class="brand">
    <img src="/images/movie-mood.png" alt="Movie Mood Logo" class="logo" />
  </a>
  <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/records/index.html">MoodRec</a></li>
    <li><a href="/favorites/index.html">Favs</a></li>
  </ul>
  <!-- <div id="search-div">
    <input
      type="text"
      id="search"
      class="search-input"
      placeholder="Search movies..."
    />
    <button type="submit" id="search-button" class="search-button">🔍</button>
  </div> -->
</div>


</nav>
